<%= stylesheet_link_tag "authenticated.admin" %>

<div class="header">
  <div class="menu-icon fa fa-bars" onclick="toggleSidebar()"></div>
  <div class="header-title">Gerenciamento</div>
  <div class="user-icon-container">
    <div class="user-icon" onclick="toggleLogoutDropdown()">U</div>
    <div class="logout-dropdown" id="logoutDropdown">
    <%= button_to "Logout", logout_path, method: :delete, class: "logout-btn" %>
  </div>
  </div>
</div>

<div class="main-content">
  <div class="sidebar" id="mySidebar">
    <%= link_to "Avaliações", authenticated_home_path %>
    <% if current_user && current_user.role == "professor" %>
      <%= link_to "Gerenciamento", authenticated_admin_path, class: "active"%>
    <% end %>
  </div>
  <div class="content-area">
    <div class="management-card">

      <%= button_to "Importar dados", admin_templates_list_path, method: :get,
                    id: "importarDadosBtn", class: "management-button green" %>

      <%= button_to "Editar Templates", admin_templates_list_path, method: :get,
                    id: "editarTemplatesBtn", class: "management-button #{@classrooms.any? ? 'green' : 'light-green'}" %>

      <%= button_to "Enviar Formularios", list_forms_path, method: :get,
                    id: "enviarFormulariosBtn", class: "management-button #{@templates.any? ? 'green' : 'light-green'}" %>

      <%= button_to "Resultados", form_results_path, method: :get,
                    id: "resultadosBtn", class: "management-button #{@sent_forms.any? ? 'green' : 'light-green'}" %>


    </div>
  </div>
</div>

<%= javascript_include_tag("app") %>
<%= javascript_include_tag "authenticated.admin" %>
