<%= stylesheet_link_tag "authenticated.home" %>
<%= stylesheet_link_tag "template" %>

<div class="header">
  <div class="menu-icon fa fa-bars" onclick="toggleSidebar()"></div>
  <div class="header-title">Avaliações</div>
  <div class="search-container">
    <i class="search-icon fa fa-search"></i>
    <%= form_with url: authenticated_home_path, method: :get, local: true do %>
      <input type="text" id="searchInput" name="query" placeholder="Pesquisar avaliações..." value="<%= params[:query] %>">
    <% end %>
  </div>
  <div class="user-icon-container">
    <div class="user-icon" onclick="toggleLogoutDropdown()">U</div>
    <div class="logout-dropdown" id="logoutDropdown">
      <%= button_to "Logout", logout_path, method: :delete, class: "logout-btn" %>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="sidebar" id="mySidebar">
    <%= link_to "Avaliações", authenticated_home_path , class: "active" %>
    <% if current_user && current_user.role == "professor" %>
      <%= link_to "Gerenciamento", authenticated_admin_path %>
    <% end %>
  </div>

  <div style="flex-grow: 1">
    <div class="notice-box">
      <% if notice %>
        <div class="flash-message notice"><%= notice %></div>
      <% elsif alert %>
        <div class="flash-message alert"><%= alert %></div>
      <% end %>
    </div>

    <div class="content-area" id="formularioBoxesContainer">
      <% @forms_data.each_with_index do |form, idx| %>
        <a class="template_box <%= form[:answered] ? "respondido" : "" %>"
           data-form-id="<%= form[:id] %>"
           data-class-group-id="<%= form[:class_group_id] %>"
           href="/answer_form/?form_id=<%= form[:id] %>&class_group_id=<%= form[:class_group_id] %>"
        >
          <h3 class="subject"><%= form[:subject] %></h3>
          <p class="semester"><%= form[:semester] %></p>
          <p class="professor-name"><%= form[:professor] %></p>
          <p class="status"><%= form[:answered] ? "Respondido" : "Pendente" %></p>
        </a>
      <% end %>
    </div>

  </div>

</div>

<%= javascript_include_tag("app") %>
